/* CSS used here will be applied after bootstrap.css */

body {
    background: #c0392b;
    padding-top: 100px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

body .no-padding {
    padding: 0;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.navbar-default {
    background-color: #c0392b;
    border-color: #c0392b;
}

.navbar-default .navbar-nav > li > a {
    color: #c0392b;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #c0392b;
    color: #c0392b;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    margin: auto;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    width: 475px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 5px #888888;
}

.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}

.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}

.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}

.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}

.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}

.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}

.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 5px;
}

.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}

.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}

.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}

.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}

.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}

.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}

.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}


/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}

.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}

@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }
}

.panel-google-plus .btn {
    border-radius: 3px;
}

.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.post_website {
    width: 100%;
    overflow: hidden;
    background: #F3F3F3;
    border-top: 1px;
    /*    border-top: 1px dashed #CCC;*/
    margin-top: 10px;
}


/* This is for the posts in the topic pages */

.post_website .stuff {
    float: left;
    overflow: hidden;
    width: 475px;
}

.post_website .stuff .info {
    float: left;
    clear: both;
    line-height: 13px;
}

.post_website .stuff .info .image {
    /* width: 475px;*/
    height: 250px;
    margin: 0 10px 10px 0;
    float: left;
}

.post_website .stuff .info .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.post_website .stuff .info .description {
    font-size: 14px;
    line-height: 1.3;
}


/* This is for the topic captions */

#topic-caption {
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    font-size: 50px;
    font-family: 'Patua One', 'Oswald', sans-serif;
    /*text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;*/
    color: white;
}

.topic-box {
    height: auto;
    opacity: 1.0;
}

.topic-image {
    border-style: none;
}

.topic-caption {
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    font-size: 50px;
    font-family: 'Patua One', 'Oswald', sans-serif;
    /*text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;*/
    color: white;
}


/* This is for the post box */

.post-box {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
    border-radius: 5px;
    background-color: #fafafa;
    height: auto;
    margin: 15px;
}

.post-box form textarea {
    font-size: 15px;
    height: 40px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border-color: rgba(239, 239, 239, 0.71);
}

.post-box form .post-options {
    margin-bottom: 0px;
}

.post-box form .post-options .post-dropdown {
    margin-top: 4px;
}

#share_button {
    margin-top: 4px;
}


/* --------------------------------- */

#index-logo {
    background-color: white;
    padding: 40px 40px 40px 40px;
    border: none;
    /*border-radius: 28px;
    box-shadow: 2px 2px 7px;
    margin-right: 40px;*/
}

#index-logo-caption {
    position: absolute;
    top: 27%;
    left: 0;
    width: 100%;
    font-size: 70px;
    font-family: 'Patua One', 'Oswald', sans-serif;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    color: rgb(41, 26, 26);
}

#index-logo .thumbnail {
    display: absolute;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    background-color: white;
    margin-bottom: 0px;
    border: none;
}

#signup-form {
    background-color: #F5F5F5;
    border-radius: 28px;
    box-shadow: 2px 2px 7px #666666;
}

.media-box {
    font-family: 'Patua One', 'Oswald', sans-serif;
    text-align: left;
    font-size: 100px;
}

.test-title {
    padding: 10px;
    color: red;
}

.second-menu {
    margin: 20px;
    color: red;
}

.second-menu-heading {
    color: red;
}